:root {
  --dark-blue-100: #609ED4;
  --dark-blue-200: #356EA9;
  --dark-blue-300: #0A3871;
  --dark-blue-400: #072B61;
  --dark-blue-500: #052051;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

#text {
  resize: none;
}
